section.form-register,
section.form-login {
    margin: auto;
    height: auto;
    width: 100%;
    max-width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgb(50, 150, 255);
    align-items: center;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // position: absolute;
    
}

  label.register,
  label.login {
    text-shadow: 1px 1px #000000;
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 200;
  }
  

