section {
    margin: auto;
    height: auto;
    width: 100%;
    max-width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgb(45, 143, 255);
    align-items: center;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // position: absolute;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    margin: auto;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  label {
    text-shadow: 1px 1px #0e101c;
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  
  button[type='submit'],
  input[type='submit'] {
    background: #0014ad;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  button[type='submit']:hover,
  input[type='submit']:hover {
    background: #ff9900;
  }
  
  button[type='submit']:active,
  input[type='button']:active,
  input[type='submit']:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type='button']:hover {
    transition: 0.3s all;
  }
  
  button[type='submit'],
  input[type='button'],
  input[type='submit'] {
    -webkit-appearance: none;
  }

  .errmsg {
    color: firebrick;
    font-weight: bold;
    padding: 0rem;
    margin-bottom: 0rem;
    font-size: 14px;
    height: 16px;
}

.form-plug {
    height: 100%;
    position: relative;
    align-items: center;
    padding-top: 30px;
}
