
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100%; */
}

body {
  min-height: 100vh;
  align-items: center;
  color: black;
  height:100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; 
  height: 100%;
}